.font-pacific{
	font-family: 'Pacifico';
}

.image-carousel {
	object-fit: cover;
	object-position: 0 80%;
	height: 400px;
}

.color-special{
	color: darkred;
}

.border-color-special{
	border-color: darkred;
}

.btn-background-special{
	background-color: darkred;
	color: white;
}

.card-position-image{
	object-fit: cover;
/*	object-position: 0 80%;*/
	height: 200px;
}

.card-width{
	width: 18rem;
}